@import "./common";
@import "./mixin";

/* welcome */
.page-welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
  }
}

/* home */
.page-home {
  height: 100%;
  // header
  .cm-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 128px;
    background-color: $baseColor;
    .wrap {
      padding: 0 20px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      .title {
        font-size: 50px;
      }
      .download {
        border: 1px solid #fff;
        border-radius: 30px;
        .download-text {
          height: 60px;
          line-height: 60px;
          font-size: 30px;
          display: inline-block;
          padding: 0 20px;
        }
      }

    }
  }

  // content
  .cm-content {
    padding-top: 128px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    .nav {
      position: absolute;
      left: 0;
      width: 100%;
      height: 80px;
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      .nav-link {
        float: left;
        width: 33.33%;
        text-align: center;
        list-style-type: none;
        a {
          display: inline-block;
          height: 80px;
          line-height: 80px;
          font-size: 30px;
          padding: 0 10px;
          box-sizing: border-box;
          text-decoration: none;
          color: #333;
          &.acitved {
            color: $baseColor;
            border-bottom: 4px solid;
          }
        }
      }
    }
    .content-wrap {
      padding-top: 80px;
      height: 100%;
    }
  }
}
