@import "./common";
@import "./mixin";

/* welcome */
.page-welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
  }
}

/* home */
.page-home {
  .cm-header {
    height: 128px;
    background-color: $baseColor
  }
}
